{% extends 'navbar.html' %}


{% load static %}

{% block content %}

    <title>{{ request.session.username  }}</title>

    <link href="{%static 'css/contact.css'%}" rel="stylesheet" >

{%endblock%}

{% block navB %}
    {{ request.session.username  }}
{% endblock %}

{% block logout %}
   <button class="btn btn-danger" style="padding: 0.5px"><a class="nav-link" href="{% url 'my_logout' %}" style="color: white">logout</a></button>
{% endblock %}


{% block body %}
    <div class="container">
{#  <table width="100%" border="1">#}
{#        <tr>#}
{#            <td>ID</td>#}
{#            <td>Name</td>#}
{#            <td>Actions</td>#}
{#        </tr>#}
{##}
{#        {%for user in  users %}#}
{#             <tr>#}
{#                <td>{{user.id}}</td>#}
{#                <td>{{user.username}}</td>#}
{#                 <td>#}
{#                     <a href="{%url 'deleteintake' intake.id %}">Delete</a>#}
{#                     <a href="{%url 'updateintake' intake.id %}">Update</a>#}
{#                 </td>#}
{##}
{#             </tr>#}
{#    {%endfor%}#}
{#    </table>#}



    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
 {%for user in  users %}
             <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                 <td>
                     <button class="btn btn-danger"><a style="color: white;text-decoration: none;" href="{%url 'deleteuser' user.id %}">Delete</a></button>
                     <button class="btn btn-danger"><a style="color: white;text-decoration: none;" href="{%url 'updateV' user.id %}">Update</a></button>
                 </td>

             </tr>
   {%endfor%}

  </tbody>
</table>
</div>
{% endblock %}