{% extends 'navbar.html' %}


{% load static %}

{% block content %}

    <title>{{ request.session.username  }}</title>

    <link href="{%static 'css/contact.css'%}" rel="stylesheet" >

{%endblock%}

{% block navB %}
    {{ request.session.username  }}
{% endblock %}

{% block logout %}

           <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-success" style="padding: 0.5px;margin-right: 10px"><a class="nav-link" href="{% url 'my_logout' %}" style="color: white">Search</a></button>

   <button class="btn btn-danger" style="padding: 0.5px"><a class="nav-link" href="{% url 'my_logout' %}" style="color: white">logout</a></button>
{% endblock %}


{% block body %}
    <div class="container">

    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
        <th scope="col">PASSWORD</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
 {%for user in  users %}
             <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                 <td>{{user.password}}</td>
                 <td>
                     <button class="btn btn-danger"><a style="color: white;text-decoration: none;" href="{%url 'deleteuser' user.id %}">Delete</a></button>
                     <button class="btn btn-success"><a style="color: white;text-decoration: none;" href="{%url 'updateV' user.id %}">Update</a></button>
                 </td>

             </tr>
   {%endfor%}

  </tbody>
</table>
</div>
{% endblock %}